.goTopButton {
    position: fixed;
    bottom: 60px;
    right: 6px;
    display: none;
    padding: 15px;
    background-color: $red;
    border-radius: 10px;
    cursor: pointer;
    z-index: 99;

    .bar1, .bar2 {
        width: 20px;
        height: 2px;
        margin: 3px 0 0 -4px;
        background-color: $black;
        transition: 0.7s;
    }

    .bar1 {
        transform: rotate(128deg) translate(3px, 3px);
    }

    .bar2{
        transform: rotate(45deg) translate(2px, -9px);
    }

    &:hover, &:focus {
        background-color: $transparent-black;
    }
}

@media(min-width: 768px) {
    .goTopButton {
    right: 25px;
    }
}





